<block-ui></block-ui>
<div id="wrapper">

<!-- Navigation -->
<div ng-include="'/partials/nav.html'"></div>

<div id="page-wrapper">

<div class="container-fluid">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard <small>Today</small>
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


<!-- /.row -->

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{today.total_pickups}}</div>
                        <div>New Pickups</div>
                    </div>
                </div>
            </div>
            <a href="#/shipments">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{today.total_seals}}</div>
                        <div>New Seals</div>
                    </div>
                </div>
            </div>
            <a href="#/seals">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{today.total_shipments_delivered}}</div>
                        <div>Delivered Shipments</div>
                    </div>
                </div>
            </div>
            <a href="#/shipments">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{today.shipments_out_for_delivery}}</div>
                        <div>Out for delivery</div>
                    </div>
                </div>
            </div>
            <a href="#/shipments">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div>


</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Performance Chart</h3>
            </div>
            <div class="panel-body">
                <div id="area-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Delivery Exceptions</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" ng-repeat="f in failed_deliveries">
                    <a ng-href="#/shipment/detail/{{f.hawb}}" class="list-group-item">
                        <span class="badge">{{f.delivery_time|date}}</span>
                        <i class="fa fa-fw fa-truck"></i> HAWB {{f.hawb}}
                    </a>


                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Real Time Delivery</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" ng-repeat="d in recent_deliveries">
                    <a ng-href="#/shipment/detail/{{d.hawb}}" class="list-group-item">
                        <span class="badge" am-time-ago="d.delivery_time"></span>
                        <i class="fa fa-fw fa-truck"></i> HAWB {{d.hawb}}
                    </a>


                </div>

            </div>
        </div>
    </div>



</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
            </div>
            <div class="panel-body">
                <div id="pie-chart"></div>

            </div>
        </div>
    </div>
</div>
<!--end of row-->
</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

