<form class="form-inline">
    <div class="form-group">
        <a href="#/history" class="btn btn-danger">Shipment History</a>
    </div>
    <div class="form-group">
        <a href="#/history/seal" class="btn btn-danger">Seal History</a>
    </div>
    <div class="form-group">
        <a href="#/history/shuttle" class="btn btn-danger">Shuttle History</a>
    </div>


</form>