<block-ui></block-ui>
<div class="container">
    <form name="login-form" class="form-signin" ng-submit="login(credentials)" novalidate>
        <h1>
            <img src="images/courierplus.jpg">
        </h1>
        <h2 class="form-signin-heading">Please sign in</h2>
        <p class="text-danger">{{message}}</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="test" ng-model="credentials.username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model="credentials.password" id="inputPassword" class="form-control" placeholder="Password" required>
        <!--<button ng-submit="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign in">
        {{name}}
    </form>
</div>