<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">
            <form class="form-inline">
                <div class="form-group">

                    <input type="text" class="form-control" ng-model="pickup_hawb" placeholder="Search by HAWB">
                </div>

                <div class="form-group">
                    <select class="form-control" ng-model="pickup_shipper">
                        <option value="">All Shippers</option>
                        <option value="Konga">Konga</option>
                        <option value="Jumia">Jumia</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="pickup_content">
                        <option value="">All Content</option>
                        <option value="Document">Document</option>
                        <option value="Non Document">Non Document</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="pickup_personel">
                        <option value="">Peronels</option>
                        <option value="Ridwan Olalere">Ridwan Olalere</option>
                        <option value="Wole Adeyemi">Wole Adeyemi</option>
                        <option value="Shola Dehinde">Shola Dehinde</option>
                        <option value="Ola Coker">Ola Coker</option>
                    </select>
                </div>
                <div class="form-group">

                    <input class="form-control" type="date">
                </div>
                <div class="form-group pull-right">
                    <a href="#/pickup/new" class="btn btn-danger">New Pickup</a>
                </div>
            </form>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Recent Pickups <small>({{pickups.length}})</small>

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> PickUps
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <td><strong>Shipment HAWB</strong></td>
                    <td><strong>Shipper</strong></td>
                    <td><strong>remarks</strong></td>
                    <td><strong>Payment Mode</strong></td>
                    <td><strong>Personel</strong></td>
                    <td><strong>Amount</strong></td>
                    <td><strong>Consignee Address</strong></td>
                    <td><strong>Consignee Telephone</strong></td>
                    <td><strong>Date</strong></td>
                </tr>
                <tr ng-repeat="pickup in pickups | filter:{ shipment.hawb: pickup_hawb, personel: pickup_personel, shipment.status: pickup_status, shipper: pickup_shipper }">

                    <td>{{pickup.shipment.hawb}}</td>
                    <td>{{pickup.shipper}}</td>
                    <td>{{pickup.remarks}}</td>
                    <td>{{pickup.payment_mode}}</td>
                    <td>{{pickup.personel}}</td>
                    <td>{{pickup.amount}}</td>
                    <td>{{pickup.consignee_address}}</td>
                    <td>{{pickup.consignee_tel}}</td>
                    <td>{{pickup.uploaded_on}}</td>
                </tr>
                </thead>
            </table>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->