<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        New Pickup

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Pickup
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <form class="form-horizontal col-md-8">
                <div class="form-group">
                    <label class="col-md-4">Shipper</label>
                    <div class="col-md-8">
                        <select>
                            <option>Konga</option>
                            <option>Jumia</option>
                            <option>Access Bank</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Address</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Tel</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Weight</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Remarks</label>
                    <div class="col-md-8">
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Content type</label>
                    <div class="col-md-8">
                        <select>
                            <option>Document</option>
                            <option>Non Document</option>

                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">HAWB</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger">GEN</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Payment mode</label>
                    <div class="col-md-8">
                        <select>
                            <option>Cash on Delivery</option>
                            <option>POS</option>
                            <option>Cheque</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4"></label>
                    <div class="col-lg-8">
                        <input type="submit" class="btn btn-success btn-lg">
                    </div>
                </div>

            </form>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->