<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">

            <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
                <option value="pdf">Export to pdf</option>
                <option value="excel">Export to excel</option>
            </select>

            <form class="form-inline">
                <div class="form-group">
                    <input ng-model="seal_filter.number" type="text" placeholder="seal number">
                </div>

                <div class="form-group">
                    <input ng-model="seal_filter.date" type="date" placeholder="date">
                </div>

                <div class="form-group">
                    <button ng-click="go()" class="btn btn-success">Go</button>
                </div>

            </form>

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        All Seals

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Seals
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <!--alert-->
            <div class="alert alert-warning alert-dismissible" role="alert">
                <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                {{message}}
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-condensed export-table">

                            <tr>
                                <td><strong>SEAL NUMBER</strong></td>
                                <td><strong>FROM</strong></td>
                                <td><strong>DESTINATION</strong></td>
                                <td><strong>LOCATION</strong></td>
                                <td><strong>No of Shipments</strong></td>
                            </tr>

                            <tr ng-repeat="seal in seals | filter: {number: seal_filter.number}">
                                <td><a ng-href="#/seal/detail/{{accessors.getId(seal)}}">{{seal.number}}</a></td>
                                <td>{{seal.departure}}</td>
                                <td>{{seal.destination}}</td>
                                <td>{{seal.location}}</td>
                                <td>{{seal.shipments.length}}</td>
                            </tr>

                    </table>

                    <nav>
                        <ul class="pagination pagination-lg">
                            <li>
                                <a ng-click="paginate('next')" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;Previous</span>
                                </a>
                            </li>

                            <li>
                                <a ng-click="paginate('previous')" aria-label="Next">
                                    <span aria-hidden="true">Next&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-4" style="border: 1px dotted black;">

                    <form name="sealForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4">Seal Number</label>
                            <div class="col-md-8">
                                <input type="text" name="number" class="form-control" ng-model="new_seal.number" ng-required>
                                <small ng-show="sealForm.number.$error.required">Seal number is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">From</label>
                            <div class="col-md-8">
                                <select ng-model="new_seal.departure" name="departure" class="form-control" ng-required="true">
                                    <option ng-repeat="c in cities" ng-value="c">{{c|uppercase}}</option>
                                </select>
                                <small ng-show="sealForm.departure.$error.required">Departure is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">To</label>
                            <div class="col-md-8">
                                <select ng-model="new_seal.destination" name="destination" class="form-control" ng-required="true">
                                    <option ng-repeat="c in cities" ng-value="c">{{c|uppercase}}</option>
                                </select>
                                <small ng-show="sealForm.destination.$error.required">Destination is required</small>
                            </div>
                        </div>

                    </form>
                    <div ng-repeat="hawb in new_seal.shipments" class="col-md-12">

                        <input type="text" value="{{hawb}}" disabled>
                    </div>
                    <form class="form-inline">

                        <div class="form-group">

                            <input type="text" ng-model="hawb">
                            <input type="submit" ng-click="add()" value="Add">
                        </div>
                        <p></p>
                       <button ng-click="createSeal()" class="btn btn-danger">Create Seal</button>
                    </form>
                </div>
            </div>



        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->