<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">
        <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
            <!--<option value="pdf">Export to pdf</option>-->
            <option value="excel">Export to excel</option>
            <option value="doc">Export to doc</option>
        </select>

        <div class="container-fluid">
            <div ng-include="'/partials/history-nav.html'"></div>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shipment History

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> seal history
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <input type="text" ng-model="filter.hawb" placeholder="hawb">
            <input type="date" ng-model="filter.date">
            <input type="submit" ng-click="filterHistory()" value="filter">
            <!--table here-->
            <table class="table export-table">
                <tr>
                    <td><strong>HAWB</strong></td>
                    <td><strong>Change by</strong></td>
                    <td><strong>Amount</strong></td>
                    <td><strong>Content</strong></td>
                    <td><strong>Consignee name</strong></td>
                    <td><strong>Consignee address</strong></td>
                    <td><strong>Consignee tel</strong></td>
                    <td><strong>Status</strong></td>
                    <td><strong>Warehouse</strong></td>
                    <td><strong>Weight</strong></td>
                    <td><strong>Date</strong></td>
                </tr>

                <tr ng-repeat="h in shipment_history">
                    <td>
                        {{h.hawb}}
                    </td>

                    <td>
                        {{h.edited_by.username}}
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_amount}}</li>
                            <li class="text-muted">{{h.old_amount}}</li>
                        </ul>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_content}}</li>
                            <li class="text-muted">{{h.old_content}}</li>
                        </ul>

                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_consignee_name}}</li>
                            <li class="text-muted">{{h.old_consignee_name}}</li>
                        </ul>
                    </td>

                    <td>
                       <ul class="list-unstyled">
                           <li class="text-danger">{{h.new_consignee_address}}</li>
                           <li class="text-muted">{{h.old_consignee_address}}</li>
                       </ul>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_consignee_tel}}</li>
                            <li class="text-muted">{{h.old_consignee_tel}}</li>
                        </ul>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_status}}</li>
                            <li class="text-muted">{{h.old_status}}</li>
                        </ul>
                    </td>

                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_warehouse.name}}</li>
                            <li class="text-muted">{{h.old_warehouse.name}}</li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li class="text-danger">{{h.new_weight}}</li>
                            <li class="text-muted">{{h.old_weight}}</li>
                        </ul>
                    </td>
                    <td>
                        {{h.date|date}}
                    </td>
                </tr>

            </table>

            <nav>
                <ul class="pagination pagination-lg">
                    <li>
                        <a ng-click="paginate('next')" aria-label="Previous">
                            <span aria-hidden="true">&laquo;Previous</span>
                        </a>
                    </li>

                    <li>
                        <a ng-click="paginate('previous')" aria-label="Next">
                            <span aria-hidden="true">Next&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->



















