<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">





            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        New Shipment

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shipment
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <p class="text-danger">{{message}}</p>

            <form role="form" ng-submit="createShipment()" class="form-horizontal" name="shipmentForm" novalidate>
                <div class="form-group">
                    <label class="col-md-4">HAWB: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.hawb" name="hawb" class="form-control" type="text" ng-required="true">
                        <small ng-show="shipmentForm.hawb.$error.required" class="text-warning">HAWB is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Weight: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.weight" name="weight" class="form-control" type="text" ng-required="true">
                        <small ng-show="shipmentForm.weight.$error.required" class="text-warning">Weight is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Name: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_name" name="name" class="form-control" type="text" ng-required="true">
                        <small class="text-warning" ng-show="shipmentForm.name.$error.required">Consignee name is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Tel: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_tel" name="tel" class="form-control" type="text" ng-required="true">
                        <small class="text-warning" ng-show="shipmentForm.tel.$error.required">Tel is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Consignee Address: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.consignee_address" name="address" class="form-control" type="text" ng-required="true">
                        <small class="text-warning" ng-show="shipmentForm.address.$error.required">Address is required</small>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Shipper: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="shipper" ng-model="shipment.shipper" ng-required="true">
                            <option ng-repeat="s in shippers" ng-value="accessors.getId(s)">{{s.name}}</option>
                        </select>
                        <small class="text-warning" ng-show="shipmentForm.shipper.$error.required">Shipper is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Amount: </label>
                    <div class="col-md-8">
                        <input ng-model="shipment.amount" name="amount" class="form-control" type="number" ng-required="true">
                        <small class="text-warning" ng-show="shipmentForm.amount.$error.required">Amount is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Content: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="content" ng-model="shipment.content" ng-required="true">
                            <option value="Document">Document</option>
                            <option value="Non Document">Non Document</option>
                        </select>
                        <small class="text-warning" ng-show="shipmentForm.shipper.$error.required">Shipper is required</small>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4">Status: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="status" ng-model="shipment.status" ng-required="true">
                            <option ng-repeat="s in s_status" value="{{s}}">{{s}}</option>
                        </select>
                        <small class="text-warning" ng-show="shipmentForm.status.$error.required">Shipment status is required</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4">Warehouses: </label>
                    <div class="col-md-8">
                        <select class="form-control" name="warehouse" ng-model="shipment.warehouse" ng-required="true">
                            <option  ng-repeat="w in warehouses" ng-value="accessors.getId(w)">{{w.name}}</option>
                        </select>
                        <small class="text-warning" ng-show="shipmentForm.warehouse.$error.required">Warehouse is required</small>
                    </div>
                </div>




                <div class="form-group">
                    <label class="col-md-4"> </label>
                    <div class="col-md-8">
                        <input class="form-control btn btn-success" type="submit">
                    </div>
                </div>
            </form>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->