<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">

            <select class="pull-right" ng-change="exportAction()" ng-model="export_action">
                <option>Actions</option>
                <option value="pdf">Export to pdf</option>2
                <option value="excel">Export to excel</option>
                <option value="doc">Export to Doc</option>
            </select>

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Shipment Detail

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Shipment
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <table class="table export-table" >
                <tr>
                    <td><strong>Shipment HAWB: </strong></td>
                    <td>{{shipment.hawb}}</td>
                </tr>
                <tr>
                    <td><strong>Shipper</strong></td>
                    <td><a ng-href="">{{shipment.shipper.name}}</a></td>
                </tr>
                <tr>
                    <td><strong>Amount</strong></td>
                    <td>{{shipment.amount}}</td>
                </tr>

                <tr>
                    <td><strong>Consignee</strong></td>
                    <td>
                        <table class="table">
                            <tr>
                                <td><p class="text-muted">Name</p></td>
                               <td>{{shipment.consignee_name}}</td>
                            </tr>
                            <tr>
                                <td><p class="text-muted">Address</p></td>
                                <td>{{shipment.consignee_address}}</td>
                            </tr>
                            <tr>
                                <td><p class="text-muted">Tel</p></td>
                                <td>{{shipment.consignee_tel}}</td>
                            </tr>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td><strong>Delivery</strong></td>
                    <td>
                        <table class="table">
                            <tr>
                                <td><p class="text-muted">Receiver Name</p></td>
                                <td>{{shipment.receiver_name}}</td>
                            </tr>
                            <tr>
                                <td><p class="text-muted">Receiver Tel</p></td>
                                <td>{{shipment.receiver_tel}}</td>
                            </tr>
                            <tr>
                                <td><p class="text-muted">Amount received</p></td>
                                <td>{{shipment.amount_received}}</td>
                            </tr>
                        </table>

                    </td>
                </tr>


                <tr>
                    <td><strong>Weight</strong>
                    <td>{{shipment.weight}}</td>
                </tr>

                <tr>
                    <td><strong>Remarks</strong></td>
                    <td>{{shipment.remark}}</td>
                </tr>

                <tr>
                    <td><strong>Status</strong></td>
                    <td>{{shipment.status}}</td>
                </tr>

                <tr>
                    <td><strong>Content</strong></td>
                    <td>{{shipment.content}}</td>
                </tr>

                <tr>
                    <td><strong>Payment mode</strong></td>
                    <td>{{shipment.payment_mode}}</td>
                </tr>
                <tr>
                    <td><strong>Picked up by</strong></td>
                    <td>{{shipment.pick_up_by.username}}</td>
                </tr>
                <tr>
                    <td><strong>Pick up time</strong></td>
                    <td>{{shipment.pick_up_time | date : 'medium' }}</td>
                </tr>

                <tr>
                    <td><strong>Delivered by</strong></td>
                    <td>{{shipment.delivered_by.name }}</td>
                </tr>
                <tr>
                    <td><strong>Delivered on</strong></td>
                    <td>{{shipment.delivery_time | date : 'medium' }}</td>
                </tr>
                <tr>
                    <td><strong>Warehouse</strong></td>
                    <td>{{shipment.warehouse.name}}</td>
                </tr>
                <tr>

                    <td><a ng-href="#/shipment/edit/{{shipment.hawb}}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td></td>
                </tr>
            </table>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->