<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">
            <select ng-change="performAction()" ng-model="action" class="pull-right">
                <option>Action</option>
                <option value="delete">Delete selected item</option>
            </select>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        All Trucks

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Trucks
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <p class="bg-danger">{{message}}</p>
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <strong>Name</strong>
                            </td>
                            <td>
                                <strong>Identification number</strong>
                            </td>
                            <td>
                                <strong>Location</strong>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tr in trucks">
                            <td>
                                <input ng-model="$parent.selected_item" ng-value="accessors.getId(tr)" type="radio" checked="false">
                            </td>
                            <td>
                                {{tr.name}}
                            </td>
                            <td>
                                {{tr.identification}}
                            </td>
                            <td>
                                {{tr.location}}
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination pagination-lg">
                            <li>
                                <a ng-click="paginate('next')" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;Previous</span>
                                </a>
                            </li>

                            <li>
                                <a ng-click="paginate('previous')" aria-label="Next">
                                    <span aria-hidden="true">Next&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">

                    <form name="truckForm" ng-submit="createTruck()" class="form-horizontal" role="form" novalidate>
                        <div class="form-group">
                            <label class="col-md-4">Name</label>
                            <div class="col-md-8">
                                <input ng-model="truck.name" name="name" class="form-control" type="text" ng-required>
                                <small class="text-warning" ng-show="truckForm.name.$error.required">Name is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Identification</label>
                            <div class="col-md-8">
                                <input ng-model="truck.identification" name="identification" class="form-control" type="text" required>
                                <small class="text-warning" ng-show="truckForm.identification.$error.required">Identification is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Location</label>
                            <div class="col-md-8">
                                <input ng-model="truck.location" name="location" class="form-control" type="text">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-8">
                                <input class="form-control btn btn-warning"  type="submit" value="Create Truck">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->