<block-ui></block-ui>
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/partials/nav.html'"></div>

    <div id="page-wrapper">

        <div class="container-fluid">
            <select ng-change="performAction()" ng-model="action" class="pull-right">
                <option>Action</option>
                <option value="delete">Delete selected item</option>
            </select>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        All Users

                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="">DeliveryApp</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Users
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <p class="bg-danger">{{message}}</p>
            <div class="row">
                <div class="col-lg-8">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <strong>USERNAME</strong>
                                </td>
                                <td>
                                    <strong>EMAIL</strong>
                                </td>
                                <td>
                                    <strong>FIRST NAME</strong>
                                </td>
                                <td>
                                    <strong>LAST NAME</strong>
                                </td>
                                <td>
                                    <strong>ROLE</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>
                                    <input ng-model="$parent.selected_item" name="group1" ng-change="itemSelected()" ng-value="accessors.getId(user)" type="radio" checked="false">

                                </td>
                                <td>
                                    {{user.username}}
                                </td>
                                <td>
                                    {{user.email}}
                                </td>
                                <td>
                                    {{user.first_name}}
                                </td>
                                <td>
                                    {{user.last_name}}
                                </td>
                                <td>
                                    {{user.role}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav>
                        <ul class="pagination pagination-lg">
                            <li>
                                <a ng-click="paginate('next')" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;Previous</span>
                                </a>
                            </li>

                            <li>
                                <a ng-click="paginate('previous')" aria-label="Next">
                                    <span aria-hidden="true">Next&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4">

                    <form ng-submit="createUser()" name="userForm" novalidate class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-4">First name</label>
                            <div class="col-md-8">
                                <input ng-model="new_user.first_name" name="firstname" class="form-control" type="text" ng-required="true">
                                <small class="text-warning" ng-show="userForm.firstname.$error.required">First name is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Last name</label>
                            <div class="col-md-8">
                                <input ng-model="new_user.last_name" name="lastname" class="form-control" type="text" ng-required="true">
                                <small class="text-warning" ng-show="userForm.lastname.$error.required"> Last name is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Username</label>
                            <div class="col-md-8">
                                <input ng-model="new_user.username" name="username" class="form-control" type="text" ng-required="true">
                                <small class="text-warning" ng-show="userForm.username.$error.required">Username is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-8">
                                <input ng-model="new_user.email" name="email" class="form-control" type="email" ng-required="true">
                                <small class="text-warning" ng-show="userForm.email.$error.required">Email is required</small>
                                <small class="text-warning" ng-show="userForm.email.$error.email">Must be a valid email address</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Role</label>
                            <div class="col-md-8">
                                <select ng-model="new_user.role" name="role"  class="form-control" ng-required="true">

                                    <option ng-repeat="r in user_roles" value="{{r}}">{{r|uppercase}}</option>

                                </select>
                                <small class="text-warning" ng-show="userForm.role.$error.required">Role is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4">Password</label>
                            <div class="col-md-8">
                                <input ng-model="new_user.password" name="password" class="form-control" type="password"  ng-minlength="6" ng-required="true">
                                <small class="text-warning" ng-show="userForm.password.$error.required">Password is required</small>
                                <small class="text-warning" ng-show="userForm.password.$error.minlength">Must be greater than 6 characters</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-8">
                                <input class="form-control btn btn-warning"  type="submit" value="Create User">
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->